<nav class="cloud-header">
  <div class="cloud-header__app">
    <div class="cloud-header__app-menu"></div>
    <a class="cloud-header-brand" href="#">
      <div class="cloud-header-brand__icon">icon</div>
      <div class="cloud-header-brand__text">IBM <span class="bx--type-bold">Product Name</span></div>
    </a>
    <ul class="cloud-header-list">
      <li class="cloud-header-list__item"><a href="#">Menu Item</a></li>
      <li class="cloud-header-list__item"><a href="#">Menu Item</a></li>
      <li class="cloud-header-list__item"><a href="#">Menu Item</a></li>
    </ul>
  </div>
  <div class="cloud-header__global">
    <ul class="cloud-header-list cloud-header-list--global">
      <li class="cloud-header-list__item"><a href="#">icon</a></li>
      <li class="cloud-header-list__item"><a href="#">icon</a></li>
      <li class="cloud-header-list__item"><a href="#">icon</a></li>
      <li class="cloud-header-list__item"><a href="#">icon</a></li>
    </ul>
  </div>
</nav>
