// TODO: revert after transition
/* @import 'carbon-components/scss/globals/scss/styles'; */

$css--font-face: false !default;
$css--helpers: true !default;
$css--body: true !default;
$css--use-layer: true !default;
$css--reset: true !default;
$css--typography: true !default;
$css--plex: false !default;

@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/mixins';
@import 'carbon-components/scss/globals/scss/layout';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/import-once';
@import 'carbon-components/scss/globals/scss/css--reset';
@import 'carbon-components/scss/globals/scss/css--font-face';
@import 'carbon-components/scss/globals/scss/css--helpers';
@import 'carbon-components/scss/globals/scss/css--body';
@import 'carbon-components/scss/globals/scss/css--typography';
@import 'carbon-components/scss/globals/grid/grid';

@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/copy-button/copy-button';
@import 'carbon-components/scss/components/file-uploader/file-uploader';
@import 'carbon-components/scss/components/checkbox/checkbox';
@import 'carbon-components/scss/components/radio-button/radio-button';
@import 'carbon-components/scss/components/toggle/toggle';
@import 'carbon-components/scss/components/search/search';
@import 'carbon-components/scss/components/select/select';
@import 'carbon-components/scss/components/text-input/text-input';
@import 'carbon-components/scss/components/text-area/text-area';
@import 'carbon-components/scss/components/number-input/number-input';
@import 'carbon-components/scss/components/form/form';
@import 'carbon-components/scss/components/link/link';
@import 'carbon-components/scss/components/list/list';
@import 'carbon-components/scss/components/data-table/data-table';
@import 'carbon-components/scss/components/data-table-v2/data-table-v2';
@import 'carbon-components/scss/components/structured-list/structured-list';
@import 'carbon-components/scss/components/code-snippet/code-snippet';
@import 'carbon-components/scss/components/overflow-menu/overflow-menu';
/* @import 'carbon-components/scss/components/card/card'; */
@import 'carbon-components/scss/components/content-switcher/content-switcher';
@import 'carbon-components/scss/components/date-picker/date-picker';
/* @import 'carbon-components/scss/components/detail-page-header/detail-page-header'; */
@import 'carbon-components/scss/components/dropdown/dropdown';
@import 'carbon-components/scss/components/loading/loading';
@import 'carbon-components/scss/components/modal/modal';
/* @import 'carbon-components/scss/components/module/module'; */
@import 'carbon-components/scss/components/notification/inline-notification';
@import 'carbon-components/scss/components/notification/toast-notification';
@import 'carbon-components/scss/components/tooltip/tooltip';
@import 'carbon-components/scss/components/tabs/tabs';
@import 'carbon-components/scss/components/tag/tag';
@import 'carbon-components/scss/components/unified-header/unified-header';
/* @import 'carbon-components/scss/components/interior-left-nav/interior-left-nav'; */
@import 'carbon-components/scss/components/pagination/pagination';
@import 'carbon-components/scss/components/accordion/accordion';
@import 'carbon-components/scss/components/progress-indicator/progress-indicator';
@import 'carbon-components/scss/components/breadcrumb/breadcrumb';
@import 'carbon-components/scss/components/toolbar/toolbar';
@import 'carbon-components/scss/components/time-picker/time-picker';
@import 'carbon-components/scss/components/slider/slider';
/* @import 'carbon-components/scss/components/order-summary/order-summary'; */
@import 'carbon-components/scss/components/tile/tile';
@import 'carbon-components/scss/components/lightbox/lightbox';
@import 'carbon-components/scss/components/carousel/carousel';

@import '../../src/components/card/card';
@import '../../src/components/detail-page-header/detail-page-header';
@import '../../src/components/interior-left-nav/interior-left-nav';
@import '../../src/components/module/module';
@import '../../src/components/order-summary/order-summary';

.demo--container {
  box-sizing: border-box;
  padding-top: 1em;
  transition: .2s;
  background-color: $ui-02;

  .demo--collapsed & {
    padding-left: 3rem;
  }

  .demo--standalone & {
    padding-left: 0;
  }
}

.demo--container__panel {
  @include grid-container;
  width: 100%;
  max-width: 960px;
  height: 100%;
  // min-height: 2000px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .demo--container.flex-col & {
    flex-direction: column;
    margin: 0 auto;

    & > * {
      margin: 1rem 0;
    }
  }

  .demo--container.flex-row & {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    & > * {
      margin: 1rem;
    }
  }

  &.mobile {
    max-width: 600px;
  }

  &[hidden] {
    display: none;
  }
}

.bx--global-header--demo {
  top: 0;
  height: 5.375em;
  display: flex;
  align-items: center;
  padding: 1em;
  z-index: 0;
}

.demo-switcher {
  &__container {
    display: flex;
    align-items: center;

    label {
      color: #fff;
      margin-right: 1rem;
    }
  }
}

.demo--standalone {
  .test-header {
    position: fixed;
    background-color: $ui-05;
    width: 100%;
    top: 0;
    left: 0;
    height: 86px;
    z-index: 8000;
  }

  .test-nav {
    position: fixed;
    background-color: $ui-04;
    width: 200px;
    height: calc(100vh - 86px);
    bottom: 0;
    left: 0;
    z-index: 8000;
  }
}

.demo--navigated {
  .test-header {
    display: none;
  }

  .test-nav {
    display: none;
  }

  .demo--container {
    padding-left: 12.5rem;
  }

  .bx--detail-page-header--with-tabs {
    margin-left: 12.5em;
  }

  &.demo--collapsed .bx--detail-page-header--with-tabs {
    margin-left: 3rem;
  }
}

// carbon-components no longer owns alternate theme, hiding the theme switcher for now
.theme-switcher {
  .demo--navigated &,
  .demo--standalone & {
    display: none;
  }
}

.bx--row {
  min-height: 50px;
}

[class*="bx--col"] {
  background-color: $color__gray-1;

  p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.col-example {
  background-color: rgba(blue, 0.2);
  height: 100%;
}

.red {
  background-color: rgba(red, 0.2);
}

.green {
  background-color: rgba(green, 0.2);
}

.indigo {
  background-color: rgba(indigo, 0.2);
}
